.contact {
	background-image: linear-gradient(rgba(106, 62, 34, 0.8), rgba(106, 62, 34, 0.8)), url(../img/BKG/wood-texture-web.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 120px;
	overflow: hidden;
	color: white;
	font-family: $body-font;

	@media screen and (min-width: $desktop-bp) {
		display: flex;
	}

	.desktop-left {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media screen and (min-width: $desktop-bp) {
			width: 50%;
		}

		.social-icons {
			display: flex;
			justify-content: space-around;
			margin: 50px auto 0px auto;
			width: 100%;

			@media screen and (min-width: $tablet-bp) {
				width: 70%;
			}

			@media screen and (min-width: $desktop-bp) {
				width: 60%;
			}

			.icon {
				width: 15%;
			}
			img {
				width: 100%;
			}
		}

		h3 {
			text-align: center;
			color: white;
			line-height: 1.5;
			font-size: 1.1em;
			padding: 50px 20px;
			width: 70%;
			max-width: 300px;
			margin: 0 auto;

			a {
				color: white;
				font-style: italic;
				font-weight: 600;
			}
		}
	}

	.desktop-right {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;

	    @media screen and (min-width: $desktop-bp) {
			width: 50%;
		}

	    .logo {
	    	order: 2;
			width: 90%;
			margin: 50px auto;

			@media screen and (min-width: $tablet-bp) {
				width: 70%;
			}

			@media screen and (min-width: $desktop-bp) {
				width: 30%;
				margin: 0;
				order: 1;
			}

			img {
				width: 100%;
			}
	    }

	    .address {
			font-style: italic;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			p {
				margin-bottom: 15px;
			}

			a {
				color: white;
				text-decoration: none;
			}

			@media screen and (min-width: $desktop-bp) {
				order: 2;
				width: 90%;
				max-width: 400px;
			}

			.address-top {
				display: flex;
				flex-direction: column;

				@media screen and (min-width: $desktop-bp) {
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
				}

				:first-child {
					order: 2;

					@media screen and (min-width: $desktop-bp) {
						order:1;
					}
				}

				:nth-child(2) {
					order: 1;

					@media screen and (min-width: $desktop-bp) {
						order:2;
					}
				}
			}

			.address-bot {
				display: flex;
				flex-direction: column;

				@media screen and (min-width: $desktop-bp) {
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
				}
			}
	    }
	}
}