* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'header-font';
	src: url(../fonts/Variane-Script.ttf) format('truetype');
}

@font-face {
	font-family: 'body-font';
	src: url(../fonts/Adobe-Caslon-Pro-Regular.ttf) format('truetype');
}