.hero {
	margin-left: 120px;
	overflow: hidden;

	.hero-header {
		background-image: linear-gradient(rgba(106, 62, 34, 0.8), rgba(106, 62, 34, 0.8)), url(../img/BKG/wood-texture-web.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 25px 0;

		@media screen and (min-width: $desktop-bp) {
			padding: 50px 0;
		}

		.hero-logo {
			width: 80%;
		    margin: 0 auto;

		    @media screen and (min-width: $tablet-bp) {
		    	width: 70%;
		    }

		    @media screen and (min-width: $desktop-bp) {
		    	width: 30%;
		    }

		    img {
		    	width: 100%;
		    }
		}

		h1 {
			padding: 0px 60px 25px 60px;
			font-size: 1.5em;
			text-align: center;
			font-family: $header-font;
			color: white;

			@media screen and (min-width: $tablet-bp) {
		    	font-size: 2em;
		    }
		}
	}

	.hero-content {
		color: $brown;
		background-image: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../img/BKG/wood-bkg-02.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 25px;
		position: relative;

		.hero-img {

			img {
				width: 100%;
			}

			&.mobile {
			    position: relative;
				top: -35px;
				left: -35px;
				width: 120%;

				@media screen and (min-width: $tablet-bp) {
					display: none;
				}

				@media screen and (min-width: $desktop-bp) {
					display: none;
				}
			}

			&.tablet {
				display: none;
				 position: relative;
				top: -40px;
				left: -35px;
				width: 120%;
				z-index: 2;

				@media screen and (min-width: $tablet-bp) {
					display: block;
				}

				@media screen and (min-width: $desktop-bp) {
					display: none;
				}
			}

			&.desktop {
				display: none;
				width: 110%;
				position: relative;
				left: -50px;
				top: -60px;
				z-index: 2;

				@media screen and (min-width: $tablet-bp) {
					display: none;
				}

				@media screen and (min-width: $desktop-bp) {
					display: block;
				}
			}
		}

		.hero__text {
			text-align: center;
			line-height: 2;
			padding: 15px 20px;
			font-size: 1.2em;
			font-family: $body-font;
			font-weight: 600;
			position: relative;
			z-index: 5;

			@media screen and (min-width: $tablet-bp) {
				font-size: 1.2em;
				padding: 15px 50px;
			}

			@media screen and (min-width: $desktop-bp) {
				width: 75%;
				margin: 0 auto;
				padding: 55px 20px 0 20px;
			}
		}

		.hero__text2 {
			font-size: 1.4em;
			font-weight: bold;
			font-style: italic;
			text-align: center;
			padding: 15px 30px;
			margin-bottom: 70px;
			position: relative;
			z-index: 5;

			@media screen and (min-width: $tablet-bp) {
		    	margin: 25px 0;
		    }
		}

		.button-container {
			position: relative;
			width: 90%;
			max-width: 250px;
			border: 3px solid rgba(106,62,34,0.9);
			margin: 70px auto;
			padding: 5px;
			z-index: 5;

			a {
				display: flex;
			    justify-content: center;
				width: 100%;
				text-decoration: none;
				background-color: rgba(106,62,34,0.9);
				color: white;
				padding: 20px 0;
				padding-top: 28px;
				text-transform: uppercase;
				text-align: center;
				font-family: $body-font;
				position: relative;
				letter-spacing: .75px;
				z-index: 5;

				.desktop-only {
					display: none;

					@media screen and (min-width: $desktop-bp) {
						display: block;
					}
				}
			}	
		}

		

		.chip-img, .muffins-img, .tray-img, .spatula-img {
			position: absolute;
			z-index: 1;

			img {
				width: 100%;
			}
		}

		.chip-img {
			width: 30%;
			top: 31%;
			right: -10%;
			max-width: 200px;
			z-index: 1;

			@media screen and (min-width: $tablet-bp) {
				top: 14%;
			}

			@media screen and (min-width: $desktop-bp) {
				right: -3%;
				top: 25%;
			}
		}

		.muffins-img {
			width: 65%;
			bottom: 12%;
			right: -13%;
			transform: rotate(-90deg);
			max-width: 250px;

			@media screen and (min-width: $tablet-bp) {
				bottom: 18%;
			}

			@media screen and (min-width: $desktop-bp) {
				bottom: 25%;
				right: -70px;
			}
		}

		.tray-img {
			top: 97%;
			transform: rotate(90deg);
			right: -110px;
			width: 140%;
			max-width: 400px;

			@media screen and (min-width: $desktop-bp) {
				top: 85%;
				right: -100px;
			}
		}

		.spatula-img {
			width: 65%;
			bottom: -100px;
			transform: rotate(90deg);
			left: -80px;
			max-width: 300px;

			@media screen and (min-width: $tablet-bp) {
				bottom: -190px;

			}

			@media screen and (min-width: $desktop-bp) {
				bottom: -150px;
			}
		}
	}
}