.hero {
	margin-left: 90px;
	overflow: hidden;

	.hero-header {
		background-image: linear-gradient(rgba(106, 62, 34, 0.8), rgba(106, 62, 34, 0.8)), url(../img/BKG/wood-texture-web.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.hero-logo {
			width: 80%;
		    margin: 0 auto;

		    img {
		    	width: 100%;
		    }
		}

		h1 {
			padding: 0px 60px 25px 60px;
			font-size: 1.5em;
			text-align: center;
			font-family: $header-font;
			color: white;
		}
	}

	.hero-content {
		color: $brown;
		background-image: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../img/BKG/wooden-TEX-02-SMALL.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 25px;
		position: relative;

		.hero-img {

			img {
				width: 100%;
			}

			&.mobile {
				display: block;
			    position: relative;
				top: -25px;
				left: -35px;
				width: 120%;

				@media screen and (min-width: $tablet-bp) {
					diplay: none;
				}

				@media screen and (min-width: $desktop-bp) {
					display: none;
				}
			}

			&.tablet {
				display: none;

				@media screen and (min-width: $tablet-bp) {
					display: block;
				}

				@media screen and (min-width: $desktop-bp) {
					display: none;
				}
			}

			&.desktop {
				display: none;

				@media screen and (min-width: $tablet-bp) {
					display: none;
				}

				@media screen and (min-width: $desktop-bp) {
					display: block;
				}
			}
		}

		.hero__text {
			text-align: center;
			line-height: 2;
			padding: 15px 20px;
			font-size: 1.2em;
			font-family: $body-font;
			font-weight: 600;
			position: relative;
			z-index: 5;

			@media screen and (min-width: $tablet-bp) {
				font-size: 1.2em;
			}

			@media screen and (min-width: $desktop-bp) {
				width: 75%;
				margin: 0 auto;
				padding: 55px 20px 0 20px;
			}
		}

		.hero__text2 {
			font-size: 1.4em;
			font-weight: bold;
			font-style: italic;
			text-align: center;
			padding: 15px 30px;
			margin-bottom: 70px;
			position: relative;
			z-index: 5;
		}

		a {
			display: flex;
		    justify-content: center;
			width: 200px;
			text-decoration: none;
			background-color: rgba(106,62,34,0.9);
			color: white;
			padding: 20px 0;
			border: 3px solid white;
			outline: 3px solid rgba(106,62,34,0.9);
			text-transform: uppercase;
		    margin: 70px auto;
			text-align: center;
			font-family: $body-font;
			position: relative;
			z-index: 5;

			.desktop-only {
				display: none;

				@media screen and (min-width: $desktop-bp) {
					display: block;
				}
			}
		}

		.chip-img, .muffins-img, .tray-img, .spatula-img {
			position: absolute;
			z-index: 1;

			img {
				width: 100%;
			}
		}

		.chip-img {
			width: 30%;
			top: 51%;
			right: -10%;
		}

		.muffins-img {
			width: 65%;
			bottom: 12%;
			right: -13%;
			transform: rotate(-90deg);
		}

		.tray-img {
			bottom: -15%;
			transform: rotate(90deg);
			right: -35%;
			width: 140%;
		}

		.spatula-img {
			width: 65%;
			bottom: -8%;
			transform: rotate(90deg);
			left: -80px;
		}
	}
}