.muffins {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../img/BKG/wood-bkg-02.png);
	background-position: center;
	background-size: contain;
	margin-left: 120px;
	overflow: hidden;

	@media screen and (min-width: $desktop-bp) {
		background-size: cover;
	}

	.muffins-header {
		h1 {
			text-align: center;
			font-size: 4.5em;
			padding: 25px 10px;
			background-image: linear-gradient(rgba(106, 62, 34, 0.8), rgba(106, 62, 34, 0.8)), url(../img/BKG/wood-texture-web.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left;
			font-family: $header-font;
			color: white;

			@media screen and (min-width: $desktop-bp) {
				padding: 75px 10px;
			}
		}
	}

	.muffins-content {
		color: $brown;
		display: flex;
		flex-direction: column;
		// padding: 0 30px;

		.muffins-container__title {
			text-align: center;
			line-height: 1.5;
			padding: 65px 30px;
			font-family: $body-font;
			position: relative;

			h1 {
				font-size: 2.5em;
				// padding-bottom: 25px;
				position: relative;
				z-index: 5;

				@media screen and (min-width: $tablet-bp) {
					padding: 0 60px;
				}

				@media screen and (min-width: $desktop-bp) {
					padding: 0;
				}
			}

			h3 {
				font-size: 1.2em;
				font-style: italic;
				position: relative;
				z-index: 5;
			}

			@media screen and (min-width: $tablet-bp) {
				// padding: 35px 0;
			}

			.spoon-img {
				position: absolute;
				top: -45px;
				right: -38%;
				transform: rotate(-31deg);
				width: 100%;
				max-width: 250px;

				@media screen and (min-width: $tablet-bp) {
					right: -19%;
					top: 0px;
				}

				@media screen and (min-width: $desktop-bp) {
					right: -5%;
				}

				img {
					width: 100%;
				}
			}
		}

		.muffins-container__container {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			padding: 0 30px;
			
			@media screen and (min-width: $tablet-bp) {
				flex-direction: row;
				flex-wrap: wrap;
			}

			@media screen and (min-width: $desktop-bp) {
				padding: 0 100px;
			}

			&.first-row {
				justify-content: center;

				:first-child {

					@media screen and (min-width: 635px) {
						margin-right: 10%;
					}

					@media screen and (min-width: $desktop-bp) {
						margin-right: 20%;
					}
				}
			}

			.single-muffin {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				font-family: $body-font;
				// font-style: italic;
				min-height: 275px;

				@media screen and (min-width: $tablet-bp) {
					// width: 30%;
				}

				.muffin-img {
					width: 150px;
					height: 150px;
					border-radius: 50%;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}

				.chocolate-chip {
					background-image: url(../img/Product-Thumbs/Choco.png);
				}

				.birthday-cake {
					background-image: url(../img/Product-Thumbs/Birthday.png);
				}

				.cinnamon-sugar {
					background-image: url(../img/Product-Thumbs/Cinnamon.png);
				}

				.toffee {
					background-image: url(../img/Product-Thumbs/Toffee.png);
				}

				.blueberry {
					background-image: url(../img/Product-Thumbs/Blueberry.png);
				}

				.single-muffin__title {
					text-align: center;
					margin: 30px 0px;
					font-size: 1.5em;

					@media screen and (min-width: $tablet-bp) {
						font-size: 2em;
					}
				}
			}
		}

		.button-container {
			position: relative;
			width: 90%;
			max-width: 250px;
			border: 3px solid rgba(106,62,34,0.9);
			margin: 70px auto;
			padding: 5px;
			z-index: 5;

			a {
				position: relative;
				display: flex;
			    justify-content: center;
			    width: 100%;
				background-color: rgba(106,62,34,0.9);
				text-decoration: none;
				font-family: $body-font;
				color: white;
				padding: 20px;
				padding-top: 28px;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: .75px;
				z-index: 5;
			}
		}
	}

	.products-content {
		// padding: 0 30px;
		color: $brown;

		@media screen and (min-width: $desktop-bp) {
			display: flex;

		}

		.first-product, .second-product {

			@media screen and (min-width: $desktop-bp) {
				width: 50%;
			}

			h2 {
				margin-top: 40px;
				padding: 15px 30px;
				font-family: $body-font;
				font-size: 2.5em;
				line-height: 1.5;
				text-align: center;
			}

			.second-product__items {
				@media screen and (min-width: $desktop-bp) {
					margin-top: -1%;
				}
			}
		}

		.items-container {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.single-item-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@media screen and (min-width: $tablet-bp) {
					width: 50%;
				}

				.item-img {
					width: 70%;
					max-width: 300px;

					img {
						width: 100%;
					}
					
					@media screen and (min-width: $tablet-bp) {
						&.mug-img {
							margin-bottom: 3%;
						}
					}
				}

				h4 {
					font-family: $body-font;
					font-size: 1.2em;
					line-height: 1.2;
					text-align: center;
					padding: 15px 0;

					@media screen and (min-width: $tablet-bp) {
						&.mug-title {
							margin-bottom: -25%;
						}
					}
				}

				&.mobile-hidden {
					display: none;

					@media screen and (min-width: $tablet-bp) {
						display: flex;
					}

					@media screen and (min-width: $desktop-bp) {
						display: flex;
					}
				}
			}
		}

		.scroll-buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 15px;

			@media screen and (min-width: $tablet-bp) {
				
			}

			.previous-container, .next-container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.previous-container {
				margin-right: 40px;
			}

			.previous-img, .next-img {
				width: 30%;

				img {
					width: 100%;
				}
			}

			.previous-img {
				transform: rotate(180deg);
			}

			p {
				font-family: $body-font;
				font-size: 1.2em;
				font-style: italic;
				padding-top: 15px;
			}
		}

	}
	.button-container {
		position: relative;
		width: 90%;
		max-width: 350px;
		border: 3px solid rgba(106,62,34,0.9);
		margin: 70px auto;
		padding: 5px;
		z-index: 5;

		a {
			position: relative;
			display: flex;
		    justify-content: center;
		    width: 100%;
			background-color: rgba(106,62,34,0.9);
			text-decoration: none;
			font-family: $body-font;
			color: white;
			padding: 20px;
			text-transform: uppercase;
			text-align: center;
			z-index: 5;
		}
	}

	.products__muffins-content {
		display: flex;
		flex-direction: column;
		font-family: $body-font;
		color: $brown;

		@media screen and (min-width: $desktop-bp) {
			flex-direction: row;
		}

		.muffins-module {
		    display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px;
			width: 100%;
			border-bottom: 2px solid $tan;

			@media screen and (min-width: $desktop-bp) {
				width: 33%;
				border-right: 2px solid $tan;
				border-bottom: none;
			}

			.img-title-container {
				display: flex;
				flex-direction: column;
				align-items: center;

				@media screen and (min-width: $tablet-bp) {
					flex-direction: row;
				}

				@media screen and (min-width: $desktop-bp) {
					flex-direction: column;
				}
				
				.muffins-img {
					width: 70%;
					margin: auto;

					@media screen and (min-width: $tablet-bp) {
						width: 50%;
					}

					img {
						width: 100%;
					}
				}

				h2 {
					font-size: 2em;
					font-weight: 600;
					width: 80%;
					text-align: center;
					letter-spacing: .75px;
					margin: 20px auto;

					@media screen and (min-width: $tablet-bp) {
						font-size: 1.5em;
					}
				}
			}

			.show-more {
				display: flex;
				flex-direction: column;
			    height: 50px;
			    overflow: hidden;


			    &.up-active {
			    	.up-container {
			    		top: 0px;
			    	}
			    }

				&.down-active {
			    	.down-container {
			    		top: 0px;
			    	}
			    }			    

			    .up-container, .down-container {
			    	position: relative;
					top: -50px;
					transition: all 0.3s ease-in;
			    }

				.down-arrow, .up-arrow {
					width: 20%;
					margin: 0 auto;

					img {
						width: 100%;
					}
				}

				.down-arrow {
					img {
						transform: rotate(90deg);
					}
				}

				.up-arrow {
					img {
						transform: rotate(-90deg);
					}
				}

				h3 {
					font-size: 1.1em;
					text-align: center;
				}
			}
		}

		.muffins-expanded {
			.single-muffin {
				.single-muffin-img {
					img {
						width: 100%;
					}
				}
			}
		}

		.snacks-module {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px;
			width: 100%;
			border-bottom: 2px solid $tan;

			@media screen and (min-width: $desktop-bp) {
				width: 33%;
				border-right: 2px solid $tan;
				border-bottom: none;
			}

			.img-title-container {
				display: flex;
				flex-direction: column;
				align-items: center;

				@media screen and (min-width: $tablet-bp) {
					flex-direction: row;
				}

				@media screen and (min-width: $desktop-bp) {
					flex-direction: column;
				}
				
				.snacks-img {
					width: 70%;
					margin: auto;

					@media screen and (min-width: $tablet-bp) {
						width: 50%;
					}

					img {
						width: 100%;
					}
				}

				h2 {
					font-size: 2em;
					font-weight: 600;
					width: 80%;
					text-align: center;
					letter-spacing: .75px;
					margin: 20px auto;

					@media screen and (min-width: $tablet-bp) {
						font-size: 1.5em;
					}
				}
			}

			.show-more {
				display: flex;
				flex-direction: column;
			    height: 50px;
			    overflow: hidden;


			    &.up-active {
			    	.up-container {
			    		top: 0px;
			    	}
			    }

				&.down-active {
			    	.down-container {
			    		top: 0px;
			    	}
			    }			    

			    .up-container, .down-container {
			    	position: relative;
					top: -50px;
					transition: all 0.3s ease-in;
			    }

				.down-arrow, .up-arrow {
					width: 20%;
					margin: 0 auto;

					img {
						width: 100%;
					}
				}

				.down-arrow {
					img {
						transform: rotate(90deg);
					}
				}

				.up-arrow {
					img {
						transform: rotate(-90deg);
					}
				}

				h3 {
					font-size: 1.1em;
					text-align: center;
				}
			}
		}

		.snacks-expanded {

		}

		.merch-module {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px;
			width: 100%;

			@media screen and (min-width: $desktop-bp) {
				width: 33%;
			}
			

			.img-title-container {
				display: flex;
				flex-direction: column;
				align-items: center;

				@media screen and (min-width: $tablet-bp) {
					flex-direction: row;
				}

				@media screen and (min-width: $desktop-bp) {
					flex-direction: column;
				}
				
				.merch-img {
					width: 70%;
					margin: auto;

					@media screen and (min-width: $tablet-bp) {
						width: 50%;
					}

					img {
						width: 100%;
					}
				}

				h2 {
					font-size: 2em;
					font-weight: 600;
					width: 80%;
					text-align: center;
					letter-spacing: .75px;
					margin: 20px auto;

					@media screen and (min-width: $tablet-bp) {
						font-size: 1.5em;
					}
				}
			}

			.show-more {
				display: flex;
				flex-direction: column;
			    height: 50px;
			    overflow: hidden;


			    &.up-active {
			    	.up-container {
			    		top: 0px;
			    	}
			    }

				&.down-active {
			    	.down-container {
			    		top: 0px;
			    	}
			    }			    

			    .up-container, .down-container {
			    	position: relative;
					top: -50px;
					transition: all 0.3s ease-in;
			    }

				.down-arrow, .up-arrow {
					width: 20%;
					margin: 0 auto;

					img {
						width: 100%;
					}
				}

				.down-arrow {
					img {
						transform: rotate(90deg);
					}
				}

				.up-arrow {
					img {
						transform: rotate(-90deg);
					}
				}

				h3 {
					font-size: 1.1em;
					text-align: center;
				}
			}
		}
	}
}