.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 90px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	font-family: $body-font;
	font-size: 0.6em;
	text-transform: uppercase;
	color: $brown;

	.nav-icon {
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.burg-text {
			margin-top: 0;
		}

		p {
			margin: 5px 0;
		}

		&:after {
			content: '';
			position: relative;
			width: 80%;
			height: 1px;
			background-color: $brown;
			margin: 5px 0px;
		}

		&:nth-child(6), &:nth-child(7) {
			&:after {
				width: 0;
				height: 0;
			}
		}

		.svg-container {
			width: 60%;
			margin-top: 5px;
		}
	}

	.menu-button {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.hamburger--elastic {
			 &:focus {
			 	outline: none;
			 }
		}
	}
	.logo {
		position: relative;
		bottom: -10%;

		.svg-container {
			width: 100%;
		}
	}
}