.specials {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0.9)), url(../img/BKG/roses-white-02.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 120px;

	.specials-header {
		h1 {
			text-align: center;
			font-size: 3.5em;
			padding: 25px 10px;
			background-image: linear-gradient(rgba(106, 62, 34, 0.8), rgba(106, 62, 34, 0.8)), url(../img/BKG/wood-texture-web.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left;
			font-family: $header-font;
			color: white;

			@media screen and (min-width: $tablet-bp) {
				font-size: 4.5em;
			}

			@media screen and (min-width: $desktop-bp) {
				padding: 75px 10px;
			}
		}
	}

	.specials-hero-text {
		color: $brown;
		font-family: $body-font;
		font-size: 1.2em;
		padding: 50px 30px;
		text-align: center;
		line-height: 1.5;

		&.desktop-hide {
			@media screen and (min-width: $desktop-bp) {
				display: none;
			}
		}

		&.desktop-only {
			display: none;
			
			@media screen and (min-width: $desktop-bp) {
				display: block;
			}
		}
	}

	.specials-module {

		@media screen and (min-width: $desktop-bp) {
			display: flex;
		}

		.specials-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $brown;
			position: relative;

			@media screen and (min-width: $desktop-bp) {
				width: 50%;
			}

			.scroll-buttons {
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 50px;

				@media screen and (min-width: $tablet-bp) {
					order: 3;
					margin-top: -120px;
				}

				@media screen and (min-width: $desktop-bp) {
					justify-content: center;
					margin: 0;
				}

				.previous-container, .next-container {
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				.previous-container {
					@media screen and (min-width: $desktop-bp) {
						margin-right: 40px;
					}
				}

				.previous-img, .next-img {
					width: 30%;

					img {
						width: 100%;
					}
				}

				.previous-img {
					transform: rotate(180deg);
				}

				p {
					font-family: $body-font;
					font-size: 1.2em;
					font-style: italic;
					padding-top: 15px;
				}
			}

			h2 {
				font-size: 2.5em;
				font-family: $body-font;
				color: $brown;
				font-weight: 600;
				text-align: center;
				padding: 0 10px;
			}

			.specials-img {
				width: 70%;
				margin: 0 auto;
				margin-top: 25px;
				max-width: 220px;

				img {
					width: 100%;
				}

				@media screen and (min-width: $tablet-bp) {
					width: 45%;
				}

				@media screen and (min-width: $desktop-bp) {
					margin-top: 0;
				}
			}
		}

		.specials-text {
			font-family: $body-font;
			color: $brown;

			@media screen and (min-width: $desktop-bp) {
				width: 50%;
			}

			@media screen and (min-width: $desktop-bp) {
				display: flex;
				flex-direction: column;
				padding-right: 5%;
			}

			.specials-hero-text {
				@media screen and (min-width: $desktop-bp) {
					order: 1;
					padding-left: 0;
					text-align: left;
				}
			}

			.specials-adder-title-container {

				@media screen and (min-width: $desktop-bp) {
					display: flex;
					order: 2;
				}

				.specials-text__title {
					text-align: center;
				    padding: 25px 0px;

				    @media screen and (min-width: $desktop-bp) {
				    	text-align: left;
				    	padding-top: 0;
				    }
				    
					h3 {
						font-size: 2.5em;
					}

					p {
						font-size: 1.2em;
						font-style: italic;
					}
				}

				.item-adder {
					display: flex;
					justify-content: center;
					margin: 25px 0;

					@media screen and (min-width: $desktop-bp) {
						order: 2;
						margin-left: 5%;
						margin-top: 0;
					}

					p {
						font-size: 3.5em;
					}

					.number {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						font-style: italic;
						padding: 0 15px;

						.dozen {
							font-size: 1em;
						}
					}
				}
			}

			.button-row {
				display: flex;
				flex-direction: column;
				align-items: center;

				@media screen and (min-width: $desktop-bp) {
					flex-direction: row;
					justify-content: space-between;
					order: 3;
				}

				.button-container {
					position: relative;
					width: 90%;
					max-width: 250px;
					border: 3px solid rgba(106,62,34,0.9);
					padding: 5px;
					z-index: 5;
					margin-bottom: 20px;

					a {
						position: relative;
						display: flex;
					    justify-content: center;
					    width: 100%;
						background-color: rgba(106,62,34,0.9);
						text-decoration: none;
						font-family: $body-font;
						color: white;
						padding: 20px;
						padding-top: 28px;
						text-transform: uppercase;
						text-align: center;
						letter-spacing: .75px;
						z-index: 5;

						@media screen and (min-width: $tablet-bp) {
							font-size: 0.8em;
						}
					}

					@media screen and (min-width: $desktop-bp) {
						display: flex;
						align-self: flex-start;
						width: 47%;
					}
				}
			}


			.specials__availibility {
				text-align: center;
				font-style: italic;
				line-height: 1.5;
				margin: 0 auto;
				margin-bottom: 50px;
				width: 70%;

				a {
					color: $brown;
					font-weight: 600;
				}

				@media screen and (min-width: $tablet-bp) {
					width: 50%;
				}

				@media screen and (min-width: $desktop-bp) {
					order: 4;
					width: 70%;
					margin-left: 0;
					text-align: left;
				}
			}
		}
	}

	&.products-page__specials {
		display: none;

		&.active {
			display: flex;
		}
	}
}
